/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: large;
}

/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 10px; /* Remove vertical padding */
    height: 60px; /* Set a fixed height for the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo styling */
.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 70px; /* Horizontal padding only */
    height: 75%; /* Full height of the navbar */
    border-radius: 0; /* Remove border radius */
    background-color: #ddd;
    text-align: center;
    font-weight: bold;
}

/* Links styling */
.navbar .nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #b03a3a;
    font-weight: bold;
    position: relative;
}

/* Underline for active link */
.navbar .nav-links a.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #b03a3a;
}

/* Vertical separator */
.navbar .separator {
    height: 20px;
    border-left: 1px solid #ccc;
    margin: 0 10px;
}

/* Button styling */
.navbar .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b03a3a;
    color: #fff;
    padding: 0 12px; /* Horizontal padding only */
    height: 100%; /* Full height of the navbar */
    border-radius: 0; /* Remove border radius */
    text-decoration: none;
    font-weight: bold;
}

.navbar .button i {
    margin-right: 5px;
}

/* Gear icon styling */
.navbar .settings {
    margin-left: 15px;
    color: #b03a3a;
}

.bg{
    background-color: rgb(218, 215, 215);
}